In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("DSA_2023_Entry.ipynb")

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [ ]:
# Run these once ... Just in case 
#!pip install nose 
#!pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
grader = otter.Notebook()

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

In [ ]:
...
num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

In [ ]:
grader.check("q1")

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

In [ ]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket’s first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage’s five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the “* 10 ^” with ‘E’ -/capital e\-. So our numbers would look like:s"
...
print(dictionary)

In [ ]:
grader.check("q2")

**Question 3:** Extract the values from the dictionary above into a list

In [ ]:
...
print (keysList)

In [ ]:
grader.check("q3")

**Question 4:** Extract the keys from the dictionary above into a list

In [ ]:
...
print (valuesList)

In [ ]:
grader.check("q4")

**Question 5:** Merge the two lists into a tuple

In [ ]:
...
print(final_tuple)

In [ ]:
grader.check("q5")

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

In [ ]:
def greatest_common_divisor(a, b):
    ...

In [ ]:
grader.check("q6")

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

In [ ]:
def get_nearest_farthest(pt, ptlist):
    ...

In [ ]:
grader.check("q7")

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

In [ ]:
def perfectly_divisible(N, q):
    ...

In [ ]:
grader.check("q8")

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

In [ ]:
def flatten_lists(superlist):
    ...

In [ ]:
grader.check("q9")

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [ ]:
import pandas as pd
from functools import reduce

#Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe 

df = pd.read_csv(r'Nakuru_Sensor_Data_Feb_2023.csv',usecols=['timestamp','value_type','value'])

print(df)

**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [ ]:
...
print(df)

**Question E2:** Split the dataframe based on the 'value_type' collumn

In [ ]:
grouped = ...
df_temperature = ...
df_humidity = ...
df_P1 = ...
df_P2 = ...

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [ ]:
...
print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Standard Deviation = ", sd_temp)

...
print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Standard Deviation = ", sd_humidity)

...
print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Standard Deviation = ", sd_P1)

...
print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Standard Deviation = ", sd_P2)

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [ ]:
...
print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [ ]:
...
new_df

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [ ]:
#Check for missing values 
missing_values = ...

# displaying data only with NaN
...

In [ ]:
#print("The mean of P1",new_df['value_P2'].mean())
#print("The mean of P2",new_df['value_P1'].mean())

#replace missing values with the mean 
...
new_df

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

In [ ]:
#Correlation between temperature and humidity
...

print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
...

print ("Correlation between P1 and P2",corr_p1_p2)

**Question E8:** Create a new dataframe comprising of the average values of the variables by day

In [ ]:
...
means_feb = ...
means_feb

**Question E9:** Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [ ]:
...
means_nov = ...
means_nov

**Question E10:** Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

In [ ]:
feb_numpy_array = ...
feb_average = ...
feb_average

In [ ]:
nov_numpy_array = ...
nov_average = ...
nov_average

**Question E11:** Write a function to compute the difference in the average temperature, humidity, P1 and P2 between November 2021 and February 2023

Hint: The result is a vector of the form [w,x,y,z]

In [ ]:
def sub():
    ...
    return diff
 
# Print the result of the subtraction
difference = sub()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Upload the generated zip file to the Google sheet please. Uploading work which is not yours will lead to non admittance.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)